.sidebar {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 12px;
    width: 210px; /* Đặt chiều rộng cố định */
    height: fit-content; /* Chiều cao tự động */
    margin-left: 10px;
    overflow-y: auto; /* Cho phép cuộn nếu nội dung dài hơn chiều cao */
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
    width: 100%;
}

.menu-item .icon {
    margin-right: 8px;
    font-size: 16px;
    flex-shrink: 0;
}

.menu-item:hover {
    background-color: #f0f0f0;
}

.menu-item.active {
    background-color: black;
    color: white;
}

.menu-item i.fas.fa-chevron-down,
.menu-item i.fas.fa-chevron-up {
    margin-left: auto; /* Đẩy biểu tượng mũi tên sang bên phải */
    font-size: 14px;
    flex-shrink: 0; /* Đảm bảo biểu tượng không bị co lại */
}

.submenu {
    overflow: hidden;
    transition: height 0.3s ease, opacity 0.3s ease;
    padding-left: 15px; /* Tạo khoảng cách so với menu chính */

}

.submenu-item {
    padding: 10px;
    border-radius: 5px;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    align-items: center;
    margin: 5px 0 5px 0;
}

.submenu-item .icon {
    margin-right: 8px;
    font-size: 16px;
}

.submenu-item:hover {
    background-color: #f0f0f0;
    color: #000;
}

.submenu-item.active {
    background-color: black;
    color: white;
}
