<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container d-flex align-items-center">

    <a class="navbar-brand me-3" href="#">
      <img
        src="/img/logo.jpg"
        height="30"
        alt=""
        loading="lazy"
      />
    </a>
    <div
      class="collapse navbar-collapse"
      id="navbarNav"
      mdbCollapse
      #basicNav="mdbCollapse">
    
      <ul class="navbar-nav">
        <!-- Dropdown -->
        <li mdbDropdown class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            mdbDropdownToggle
            aria-expanded="false"
          >
            Dropdown link
          </a>
          <ul mdbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li>
              <a class="dropdown-item" href="#">Action</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Another action</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Something else here</a>
            </li>
          </ul>
        </li>
      </ul>
    
    </div>
    

  </div>
</nav>