<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container d-flex align-items-center">

    <a class="navbar-brand me-3" routerLink="/">
      <img
        src="/img/logo.jpg"
        height="30"
        alt=""
        loading="lazy"
      />
    </a>
    <div
      class="collapse navbar-collapse"
      id="navbarNav"
      mdbCollapse
      #basicNav="mdbCollapse">
    
      <ul class="navbar-nav me-3">
        <!-- Dropdown -->
        <li mdbDropdown class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdownMenuLink"
            role="button"
            mdbDropdownToggle
            aria-expanded="false"
          >
            {{ dropDownProvince }}
          </a>
          <ul mdbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li *ngFor="let province of provinces" style="margin: 0;"> 
              <a 
                class="dropdown-item d-flex justify-content-between align-items-center" 
                (click)="updateDropdown(province.name, province.id, $event)"
                style="width: 100%; margin: 0; margin-right: 100px;"
              >
                <span>{{ province.name }}</span>
                <span class="badge bg-secondary" style="margin-left: auto;">{{ province.resCount }}</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
      

      <button 
        class="btn btn-light me-3" mdbRipple rippleColor="dark"
        type="button"
        (click)="basicCollapse.toggle()"
        [attr.aria-expanded]="!basicCollapse.collapsed"
        aria-controls="collapseExample"
          ><i class="fa fa-bars"></i>
      </button>
      
      <form class="d-flex input-group" style="width: 500px; position: relative;">
        <input
          type="search"
          id = "autocomplete"
          name= "search"
          class="form-control"
          placeholder="Nhập tên nhà hàng bạn muốn tìm"
          [(ngModel)]="searchText"
          (input)="onSearch()"
          [attr.aria-expanded]="filteredOptions.length > 0"
          autocomplete="off"
        />

        <ul class="autocomplete-list" *ngIf="filteredOptions.length > 0">
          <li 
            *ngFor="let option of filteredOptions" 
            (click)="onSelectOption(option)" 
            class="autocomplete-item"
          >
            {{ option.name }}
          </li>
        </ul>
        <button class="btn btn-outline-primary" type="button" (click)="searchButton()">
          Tìm kiếm
        </button>
      </form>

    </div>
    
    <div class="d-flex align-items-center">
      @if (!isUserLoggedIn){
        <button type="button" class="btn btn-link px-3 me-2" routerLink = "/login">
          Đăng nhập
        </button>
        <button type="button" class="btn btn-primary me-3" routerLink="/signup">
          Đăng ký
        </button>
      }
      @else {
        <ul class="navbar-nav">
          <!-- Avatar -->
          <li mdbDropdown class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle d-flex align-items-center"
              id="navbarDropdownMenuLink"
              role="button"
              mdbDropdownToggle
              aria-expanded="false"
            >
            {{ user.name | titlecase }}
              <img
                [src]="user.avatarPath"
                style="margin-left: 10px;"
                class="rounded-circle"
                width="30"
                height="30"
                alt=""
                loading="lazy"
              />
            </a>
            <ul mdbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li>
                <a class="dropdown-item" routerLink="/profile">Thông tin cá nhân</a>
              </li>
              <li>
                <a class="dropdown-item" (click)="logOut()">Đăng xuất</a>
              </li>
            </ul>
          </li>
        </ul>
      }
    </div>

  </div>
</nav>


<div id="collapseExample" mdbCollapse #basicCollapse="mdbCollapse" class="container">
  <div class="row pt-3">
    <div class="col-md-6">
        <h3>Quận</h3>
    </div>
    <div class="col-md-6">
        <h3>Phân loại</h3>
    </div>
  </div>
  <div class="row">

    <div class="col-md-3">
      <div *ngFor="let district of districts  | slice: 0 : Math.ceil(districts.length / 2);" class="form-check">
        <input
          mdbCheckbox
          class="form-check-input"
          type="checkbox"
          [id]="'district' + district.id" 
          (change)="onCheckBoxDistrictChange(district.id, $event)"
        />
        <label class="form-check-label" [for]="'district' + district.id">
          {{district.name}}
        </label>
      </div>
    </div>

    <div class="col-md-3">
      <div *ngFor="let district of districts  | slice:  Math.ceil(districts.length / 2) : districts.length;" class="form-check">
        <input
          mdbCheckbox
          class="form-check-input"
          type="checkbox"
          [id]="'district' + district.id" 
          (change)="onCheckBoxDistrictChange(district.id, $event)"
        />
        <label class="form-check-label" [for]="'district' + district.id">
          {{district.name}}
        </label>
      </div>
    </div>

    <div class="col-md-3">
      <div *ngFor="let category of categories | slice: 0 :  Math.ceil(categories.length / 2)" class="form-check">
        <input
          mdbCheckbox
          class="form-check-input"
          type="checkbox"
          [id]="'category' + category.id" 
          (change)="onCheckboxChange(category.id, $event)"
        />
        <label class="form-check-label" [for]="'category' + category.id">
          {{category.name}}
        </label>
      </div>
    </div>

    <div class="col-md-3">
      <div *ngFor="let category of categories | slice:  Math.ceil(categories.length / 2) : categories.length" class="form-check">
        <input
          mdbCheckbox
          class="form-check-input"
          type="checkbox"
          [id]="'category' + category.id" 
          (change)="onCheckboxChange(category.id, $event)"
        />
        <label class="form-check-label" [for]="'category' + category.id">
          {{category.name}}
        </label>
      </div>
    </div>

  </div>

  <div class="row justify-content-center pt-3">
    <div class="col-auto text-center">
      <button type="button" class="btn btn-info me-3" mdbRipple (click)="searchExceptQuery()">Tìm kiếm</button>
      <button 
        type="button" 
        class="btn btn-danger" 
        mdbRipple
        (click)="uncheckAll() "
        >
          Xoá bộ lọc
        </button>
    </div>
  </div>

</div>
