<div *ngIf="isLoading" class="loading-overlay">
    <div class="spinner"></div>
    <p>Loading...</p>
</div>

<div class="container">
    <div class="d-flex flex-row justify-content-center mt-2">
        <h1>Chỉnh Sửa Nhà Hàng</h1>
    </div>
    <div class="row ">
        <form nz-form [formGroup]="validateForm">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">Tên Nhà Hàng</nz-form-label>
                <nz-form-control [nzSm]=" 14" [nzXs]="24" nzErrorTip="Vui lòng nhập tên nhà hàng!">
                    <input [ngModel]="this.restaurant.name" nz-input formControlName="name" id="name" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="address" nzRequired>Địa Chỉ</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Vui lòng nhập địa chỉ!">
                    <input [ngModel]="this.restaurant.address" nz-input id="address" formControlName="address" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="6" nzFor="province" nzRequired>Tỉnh/Thành Phố</nz-form-label>
                <nz-form-control [nzSm]="6" nzErrorTip="Vui lòng chọn Tỉnh/Thành Phố!" style="margin-right: 5px;">
                    <nz-select [(ngModel)]="selectedProvinceId" (ngModelChange)="getDistrict(selectedProvinceId!)"
                        id="province" formControlName="province" nzPlaceHolder="Lựa chọn tỉnh hoặc thành phố">
                        @for (province of provinces; track $index) {
                        <nz-option [nzValue]="province.id" [nzLabel]="province.name"></nz-option>
                        }
                    </nz-select>
                </nz-form-control>
                @if (currentDistrict.length > 0) {
                <nz-form-label nzFor="district" nzRequired>Quận/Huyện</nz-form-label>
                <nz-form-control [nzSm]="6" nzErrorTip="Please select your gender!">
                    <nz-select [(ngModel)]="this.restaurant.districtId" id="district" formControlName="district"
                        nzPlaceHolder="Vui lòng  chọn Quận / Huyện">
                        @for (district of currentDistrict; track $index) {
                        <nz-option [nzValue]="district.id" [nzLabel]="district.name"></nz-option>
                        }
                    </nz-select>
                </nz-form-control>
                }@else{
                <nz-form-label nzFor="district" nzRequired>Quận/Huyện</nz-form-label>
                <nz-form-control aria-disabled="true" [nzSm]="6" nzErrorTip="Vui lòng chọn Quận / Huyện">
                    <nz-select id="district" formControlName="district" nzPlaceHolder="Lựa chọn Quận / Huyện">
                    </nz-select>
                </nz-form-control>
                }
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="category" nzRequired>Phân loại</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Hãy chọn thể loại của nhà hàng">
                    <nz-select [nzMaxTagPlaceholder]="tagPlaceHolder" [(ngModel)]="selectedCategories" nzMode="tags"
                        id=" category" formControlName="category" nzPlaceHolder="Phân loại">

                        @for (cate of categories; track cate) {
                        <nz-option [nzValue]="cate.id" [nzLabel]="cate.name"></nz-option>
                        }

                    </nz-select>
                    <ng-template #tagPlaceHolder let-selectedList> {{ selectedList.length }} đã được
                        chọn</ng-template>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="6" nzRequired>Giờ mở cửa</nz-form-label>
                <nz-form-control [nzSm]="6" nzErrorTip="Vui lòng chọn giờ mở cửa!">
                    <nz-time-picker [ngModel]="currentOpenTime" formControlName="openTime" [nzFormat]="'HH:mm:ss'" (ngModelChange)="onTimeChange()"></nz-time-picker>
                </nz-form-control>
                <nz-form-label nzRequired>Giờ đóng cửa</nz-form-label>
                <nz-form-control [nzSm]="6" nzErrorTip="Vui lòng chọn giờ đóng cửa!">
                    <nz-time-picker [ngModel]="currentCloseTime" formControlName="closeTime" [nzFormat]="'HH:mm:ss'" (ngModelChange)="onTimeChange()"></nz-time-picker>
                </nz-form-control>
                <nz-form-control *ngIf="validateForm.errors?.['timeRange']">
                    <div class="ant-form-item-explain-error">
                      <span>Giờ đóng cửa phải lớn hơn giờ mở cửa!</span>
                    </div>
                  </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="lowPrice" nzRequired>Giá Thấp Nhất</nz-form-label>
                <nz-form-control [nzSm]="6" [nzXs]="12" nzErrorTip="Giá thấp nhất không được bỏ trống và phải là số" style="margin-right: 5px;">
                    <input [ngModel]="this.restaurant.lowestCost" formControlName="lowPrice" id="'lowPrice'" nz-input
                        placeholder="Giá Thấp Nhất" />
                </nz-form-control>
                <nz-form-label nzFor=" highPrice" nzRequired>Giá Cao Nhất</nz-form-label>
                <nz-form-control [nzSm]="6" [nzXs]="12" nzErrorTip="Giá cao nhất không được bỏ trống và phải là số">
                    <nz-input-group>
                        <input [ngModel]="this.restaurant.highestCost" nz-input id="highPrice"
                            formControlName="highPrice" placeholder="Giá Cao Nhất" />
                    </nz-input-group>
                </nz-form-control>

                <nz-form-control *ngIf="validateForm.errors?.['priceRange']">
                    <div class="ant-form-item-explain-error">
                      <span>Giá Cao Nhất phải lớn hơn Giá Thấp Nhất và phải lớn hơn hoặc bằng 0đ!</span>
                    </div>
                  </nz-form-control>

            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phoneNumber" nzRequired>Số Điện Thoại</nz-form-label>
                <nz-form-control [nzSm]="6" [nzXs]="12" [nzValidateStatus]="validateForm.controls['phoneNumber']" style="margin-right: 5px;"
                nzErrorTip="Số điện thoại không được để trống và phải đúng định dạng (e.g., +1 (123) 456-7890).">
                    <input [ngModel]="this.restaurant.phone" formControlName="phoneNumber" id="'phoneNumber'"
                        nz-input />
                </nz-form-control>
                <nz-form-label nzFor="website" nzRequired>Website</nz-form-label>
                <nz-form-control [nzSm]="6" [nzXs]="12" nzErrorTip="Không đúng định dạng website.">
                    <nz-input-group>
                        <input [ngModel]="this.restaurant.website" nz-input id="website" formControlName="website"
                            placeholder="Website" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phoneNumber" nzRequired>Ảnh Nhà Hàng</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="12" nzErrorTip="Hãy Nhập Số Điện Thoại!">
                    <nz-upload nzAction="" nzListType="picture-card" [(nzFileList)]="fileList"
                    [nzShowButton]="fileList.length < 8" [nzCustomRequest]="onCustomRequest" 
                    [nzPreview]="handlePreview" [nzRemove]="onRemove" [nzDisabled]="isUploadDisabled">
                    <div>
                        <div style="margin-top: 8px">Upload</div>
                    </div>
                    </nz-upload>
                    <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null"
                        (nzOnCancel)="previewVisible = false">
                        <ng-template #modalContent>
                            <img [src]="previewImage" style="width: 100%" />
                        </ng-template>
                    </nz-modal>
                </nz-form-control>
            </nz-form-item>





            <nz-form-item class="register-area">
                <nz-form-control [nzOffset]="8" [nzSpan]="14">
                    @if(restaurant.status == "waiting"){
                        <div nz-typography nzType="danger">Nhà hàng của bạn đang được chờ duyệt.</div>
                    }
                    @else if (restaurant.status == "unaccepted") {
                        <button nz-button nzType="primary" style="margin-right: 5px;" (click)="clickReSendAcceptRes()">Gửi Xét Duyệt Lại</button>
                    }
                    @else {
                        <button nz-button nzType="primary" style="margin-right: 5px;" (click)="submitForm()">Lưu Lại Thông Tin</button>
                        <button (click)="goToDetailRes(this.restaurant.id)" nz-button nzType="dashed" style="margin-right: 5px;">Quay về nhà
                            hàng</button>
                        <button nz-button nzType="primary" nzDanger (click)="delRestaurant()">Xoá Nhà Hàng</button>
                    }  
                </nz-form-control>
            </nz-form-item>
        </form>


    </div>
</div>