<div class="card">
    <div class="header">
        <h2>Số lượng đánh giá: {{this.reviewService.reviews().length}}</h2>
    </div>
    <div class="body">
        <ul class="comment-reply list-unstyled">
            @for(review of restaurantReview(); track review.id){
            <li class="row clearfix">
                <!-- <div class="icon-box col-md-2 col-4"><img class="img-fluid img-thumbnail"
                        src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Awesome Image">
                </div> -->
                <div class="text-box col-md-10 col-8 p-l-0 p-r0">
                    <h5 class="m-b-0">{{review.title}}</h5>
                    <p>{{review.content}} </p>
                    <ul class="list-inline">
                        <li><a href="javascript:void(0);">{{review.createdOn}}</a></li>
                        <li><a href="javascript:void(0);">Reply</a></li>
                    </ul>
                </div>
            </li>
            }

        </ul>
    </div>
</div>