<!-- Filter Icon -->
<div style="display: flex; align-items: center; justify-content: space-between;">
    <div style="display: flex; align-items: center; position: relative;"></div>
    <div style="display: flex; align-items: center; justify-content: flex-end; width: 100%;">
        <!-- Search Bar -->
        <div class="search-container">
            <i class="fas fa-search search-icon"></i>
            <input type="text" class="search-input" placeholder="Tìm kiếm..." [(ngModel)]="searchTerm"
                (ngModelChange)="applySearch()">
        </div>

        <mat-form-field class="me-3" style="min-width: 200px;">
            <mat-label>Chọn Tỉnh/Thành phố</mat-label>
            <mat-select [(ngModel)]="selectedProvinces" (ngModelChange)="onFilterChange()">
            <mat-option [value]="-1" >Tất cả</mat-option>
              <mat-option *ngFor="let prov of province" [value]="prov.id">
                {{ prov.name }}
              </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="me-3" style="min-width: 200px;">
            <mat-label>Chọn Quận/Huyện</mat-label>
            <mat-select [(ngModel)]="selectedDistricts" (ngModelChange)="onFilterChange()">
            <mat-option [value]="-1" >Tất cả</mat-option>
              <mat-option *ngFor="let dis of provinceDistricts" [value]="dis.id">
                {{ dis.name }}
              </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="me-3" style="min-width: 200px;">
            <mat-label>Chọn Tình Trạng</mat-label>
            <mat-select [(ngModel)]="selectedStatus" (ngModelChange)="onFilterChange()">
            <mat-option [value]="-1" >Tất cả</mat-option>
            <mat-option [value]="0" >Đang chờ</mat-option>
            <mat-option [value]="1" >Đã chấp nhận</mat-option>
            <mat-option [value]="2" >Từ chối</mat-option> 
            </mat-select>
        </mat-form-field>

        <!-- Waiting Restaurants Button with Count -->
        <button class="waiting-button" (click)="openWaitingPopup()">
            <i class="fas fa-clock"></i>
            Nhà Hàng Đang Chờ Duyệt
            <span class="waiting-count">{{ waitingRestaurantsCount }}</span>
        </button>
    </div>
</div>

<!-- Waiting Restaurant Modal -->
<div class="popup-overlay" *ngIf="isWaitingPopupVisible">
    <div class="popup-container">
        <h2>Nhà Hàng Đang Chờ Duyệt</h2>

        <!-- Search Waiting Restaurant -->
        <div class="waiting-search-container">
            <!-- search box -->
            <div class="search-waiting">
                <div class="search-waiting-container">
                    <input class="search-waiting-input" placeholder="Tìm kiếm..." [(ngModel)]="searchWaiting"
                    (ngModelChange)="applyWaitingSearch()" type="text" >
                    <i class="fa fa-search search-icon"></i>
                </div>
            </div>

        </div>

        <!-- waiting restaurant -->
        <div class="popup-table-container">
            <table mat-table [dataSource]="waitingRestaurantsDataSource" class="mat-elevation-z8"
                style="box-shadow: none;" matSort matSortActive="id" matSortDisableClear matSortDirection="asc">
                <!-- Checkbox Column -->
                <ng-container matColumnDef="checkbox">
                    <th mat-header-cell *matHeaderCellDef>
                        <input type="checkbox" (change)="toggleSelectAll($event)" [checked]="isAllSelected()">
                    </th>
                    <td mat-cell *matCellDef="let waitingRestaurants">
                        <input type="checkbox" [(ngModel)]="waitingRestaurants.selected">
                    </td>
                </ng-container>

                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                    <td mat-cell *matCellDef="let waitingRestaurants"> {{ waitingRestaurants . id }} </td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nhà Hàng </th>
                    <td mat-cell *matCellDef="let waitingRestaurants"> {{ waitingRestaurants . name }} </td>
                </ng-container>

                <ng-container matColumnDef="address">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Địa chỉ </th>
                    <td mat-cell *matCellDef="let waitingRestaurants"> {{ waitingRestaurants . address }}, Quận {{ getCachedDistrictAndProvinceName(waitingRestaurants.districtId).districtName }}, Thành phố {{ getCachedDistrictAndProvinceName(waitingRestaurants.districtId).provinceName }} </td>
                </ng-container>

                <ng-container matColumnDef="detail">
                    <th mat-header-cell *matHeaderCellDef> Chi Tiết </th>
                    <td mat-cell *matCellDef="let waitingRestaurants">
                        <mat-icon (click)="onDetailClick(waitingRestaurants, $event)"  class="detail-icon"
                            aria-label="Detail icon">
                            info
                        </mat-icon>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="['checkbox', 'id', 'name', 'address','detail']"></tr>
                <tr mat-row *matRowDef="let row; columns: ['checkbox', 'id', 'name', 'address', 'detail'];"
                    (click)="onRowClick(row)"></tr>
            </table>
        </div>

        <!-- Box Chi Tiết -->
        <div class="detail-box" *ngIf="selectedWaitingRestaurant">
            <h4>Chi Tiết Nhà Hàng</h4>
            <p><strong>ID:</strong> {{ selectedWaitingRestaurant . id }}</p>
            <p><strong>Tên:</strong> {{ selectedWaitingRestaurant . name }}</p>
            <p><strong>Thể Loại:</strong>
                @for (item of selectedWaitingRestaurant.category; track item) {
                    {{item.name}}
                }
            </p>
            <p><strong>Địa Chỉ:</strong> {{ selectedWaitingRestaurant . address }}, Quận {{ getCachedDistrictAndProvinceName(selectedWaitingRestaurant.districtId).districtName }}, Thành phố {{ getCachedDistrictAndProvinceName(selectedWaitingRestaurant.districtId).provinceName }}</p>
            <p><strong>Số Điện Thoại:</strong> {{ selectedWaitingRestaurant . phone }}</p>
            <p><strong>Giờ Hoạt Động:</strong> {{ selectedWaitingRestaurant . openedTime }} - {{ selectedWaitingRestaurant . closedTime }}</p>
            <p><strong>Giá Tiền:</strong> 
                {{ selectedWaitingRestaurant.lowestCost | currencyFormat}} - {{ selectedWaitingRestaurant.highestCost | currencyFormat}}
            </p>
            <p><strong>Hình ảnh:</strong></p>
                <div class="image-boxes">
                    <ng-container *ngFor="let image of selectedWaitingRestaurant.image">
                        <div class="image-box">
                          <img [src]="image.imgPath" alt="Restaurant Image" class="image-thumbnail" (click)="openImage(image.imgPath)"/>
                        </div>
                    </ng-container> 
                </div>
            
            <button class="close-detail" (click)="closeDetailBox()">Close</button>
        </div>

        <div class="image-modal" *ngIf="selectedImageUrl">
            <div class="modal-content">
              <span class="close" (click)="closeModal()">×</span>
              <img [src]="selectedImageUrl" alt="Large Image" class="modal-image" />
            </div>
          </div>

        <!-- Action Buttons -->
        <div class="popup-actions">
            <button mat-button class="close-button" (click)="closeWaitingPopup()">Thoát</button>
            <button mat-button class="reject-button" (click)="onReject()">Từ Chối</button>
            <button mat-button class="accept-button" (click)="onAccept()">Chấp Nhận</button>
        </div>
    </div>
</div>

<!-- Data Table -->
<div class="table-container">
    <div class="table-header">Nhà Hàng</div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort matSortActive="id" matSortDisableClear
        matSortDirection="asc">
        <!-- ID Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let restaurant"> {{ restaurant . id }} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tên </th>
            <td mat-cell *matCellDef="let restaurant"> {{ restaurant . name }} </td>
        </ng-container>

        <!-- Address Column -->
        <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Địa Chỉ </th>
            <td mat-cell *matCellDef="let restaurant"> {{ restaurant . address }} </td>
        </ng-container>

        <!-- District Column -->
        <ng-container matColumnDef="district">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Quận / Huyện </th>
            <td mat-cell *matCellDef="let restaurant"> {{ getCachedDistrictAndProvinceName(restaurant.districtId).districtName}},  {{ getCachedDistrictAndProvinceName(restaurant.districtId).provinceName}}</td>
        </ng-container>

        <!-- Phone Column -->
        <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Số Điện Thoại </th>
            <td mat-cell *matCellDef="let restaurant"> {{ restaurant . phone }} </td>
        </ng-container>

        <!-- Phone Column -->
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Tình trạng </th>
            <td mat-cell *matCellDef="let restaurant">
                <span 
                    [ngClass]="{
                        'badge-success': restaurant.status === 'accepted',
                        'badge-warning': restaurant.status === 'waiting',
                        'badge-danger': restaurant.status === 'rejected'
                    }" 
                    class="badge rounded-pill d-inline">
                    {{restaurant.status}}
                </span>
            </td>
        </ng-container>

        <!-- User ID Column -->
        <ng-container matColumnDef="direct">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let restaurant">
                <a *ngIf="restaurant.status == 'accepted'" [routerLink]="['/restaurants', restaurant.id]">Tới nhà hàng</a>
            </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let restaurant">
                <i class="fas fa-trash delete-icon" (click)="openDeleteDialog(restaurant.id)" title="Delete"></i>
            </td>
        </ng-container>

        <!-- Header and Row Definition -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <!-- Pagination Controls -->
    <mat-paginator [pageSize]="pageSize" [length]="restaurants.length" [pageSizeOptions]="[10]"></mat-paginator>
</div>


<!-- Delete Confirmation Dialog -->
<ng-template #lockDialog>
    <div class="dialog-content">  
      <div class="dialog-lock-icon">
          <mat-icon>error_outline</mat-icon>
      </div>
      <h3>Bạn có chắc muốn xóa?</h3>
      <div class="dialog-buttons">
        <button mat-button (click)="closeDialog()">Thoát</button>
        <button mat-button color="warn" (click)="confirmDelete()">Xác Nhận</button>
      </div>
    </div>
  </ng-template>