<body>
    <div class="card">
        <h2 style="color: white;">CẬP NHẬT MẬT KHẨU MỚI</h2>
        <p>Bạn có thể làm mới mật khẩu ở đây.</p>
        <input type="password" class="passInput" placeholder="Hãy mật khẩu mới!" [(ngModel)] = "newPass" #newPassword = "ngModel" required>
        <div *ngIf="newPassword.errors?.['required'] && (newPassword.touched)" class="text-danger">
            Mật khẩu mới không được bỏ trống.
          </div>
        <button (click)="onSend()" [disabled]="newPassword.invalid">Xác Nhận</button>
    </div>
</body>